.progress {
  height: 100%;
  width: 100%;

  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.progress.error .bar {
  margin: 0 30px;
}

.progress .message {
  height: 23px;

  margin: 0;
  padding-top: 10px;

  color: var(--dark-grey);
  font-size: 10pt;
}

.progress .bar {
  height: 0.5em;
  width: 10em;

  display: inline-block;

  border-radius: 7px;
  border: var(--border-style);
  background: var(--light-grey);
}

.progress .bar .value {
  height: 100%;
  border-radius: 7px;
  background: var(--blue);

  transition: width .3s ease;
}

.status {
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 5px;

  font-size: 10pt;
  color: var(--dark-grey);
  fill: var(--red);
  border-radius: 7px;
}

.warning {
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 5px;

  font-size: 10pt;
  color: var(--red);
  fill: var(--red);
  border-radius: 7px;

  transition: var(--background-transition-hover-leave);
}

.warning svg {
  height: 20px;
  width: 20px;

  margin-right: 10px;

  fill: inherit;
}

.warning:hover {
  cursor: pointer;
  background: var(--light-red);
  transition: var(--background-transition-hover-enter);
}
