#modal-overlay {
  position: fixed;

  width: 100%;
  height: 100%;

  z-index: 1;

  display: none;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(4px) brightness(60%);
}

.modal:not(.clear) {
  width: fit-content;
  height: fit-content;

  max-height: 80%;
  max-width: 80%;

  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  background: white;

  border: var(--border-style);
  border-radius: 7px;

  -moz-box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

.modal.clear {
  padding: 0;

  -moz-box-shadow: var(--dark-shadow);
  -webkit-box-shadow: var(--dark-shadow);
  box-shadow: var(--dark-shadow);
}

.modal .title {
  height: 40px;
  width: 100%;

  margin-top: 5px;
  padding-bottom: 5px;

  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;

  background: white;
}

.modal .title .left {
  text-align: left;
  flex: 1;
}

.modal .title .right {
  text-align: right;
  flex: 1;
}

.modal .content {
  width: 100%;

  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  padding: 10px;

  overflow-y: overlay;
}

.modal.clear .content {
  padding: 0px;
}

@media(max-width: 600px) {
  .modal {
    width: 100%;
    height: 100%;
  }
}

button.click-blue {
  height: 100%;

  display: grid;
  place-items: center;

  font-size: inherit;

  margin: 0 10px 0 10px;
  padding: 0;

  box-sizing: border-box;

  border: none;
  background: none;
  border-radius: 20px;

  cursor: pointer;
}

.click-blue {
  color: var(--blue);
  fill: var(--blue);
}

.click-blue * {
  padding: 2px;
  border: 1px solid white;
  transition: var(--background-transition-hover-leave);
}

.click-blue p {
  border-radius: 7px;
}

.click-blue svg {
  width: 24px;
  height: 24px;

  border-radius: 20px;
  transition: var(--background-transition-hover-leave);
}

button.click-blue:focus {
  outline: none;
}

.click-blue *:hover {
  background: var(--light-blue);
  transition: var(--background-transition-hover-enter);
}

button.click-blue:focus * {
  border: 1px solid var(--blue);
}
