.thumbnail {
  width: 160px;
  height: 160px;

  display: grid;
  place-items: center;
}

.thumbnail.cursor img {
  border: 3px solid red;
  padding: 2px;
}

.thumbnail.selected {
  background: blue;
}

.media-preview {
  max-height: 90vh;
  max-width: 90vw;
  object-fit: contain;
}
