.topbar {
  height: 60px;
  width: 100%;

  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-areas: "left center right";

  align-items: center;
  justify-content: center;

  background: white;

  border-bottom: var(--border-style);
}

.error {
  color: red;
}

.topbar .title {
  grid-column-start: 2;
  text-align: center;
}
